
.lists-container{
  overflow-x: hidden;
  // overflow-y: visible;
  width: 100%;
  min-height: 100vh;
  margin-top: 125px;
  position: relative;
}

.single-list-container{
  margin-bottom: 4%;
}
.movie-list-container{
  height: fit-content;
  display: flex;
  
}

.list-name{
  padding-left: 3.5%;
  margin-bottom: 0.7%;
  
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 0.05em;
}

.movie-slider {
  min-width: 900px;
  max-width: 100%;
  // height: 220px;
  overflow: visible;
  display: flex;
  // padding-left: 3.5%;
  // position: relative;
}

.list-with-buttons {
  height: fit-content;
  display: flex;
}

///BUTTONS

.toggle-list-button {
  min-width: 3.5%;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 50px;
  text-align: center;
  // position: absolute;
  z-index: 12;

}

.toggle-list-button.right{
  right: 0;
}

.hidden{
  opacity: 0;
}

.toggle-list-button.left{
  left: 0;
}


//MOVIE ITEM FORMAT AND TRANSITIONS
.movie-item {
  // min-width: 230px;
  // width: 15.65%;
  min-width: 16.43%;
  max-width: 16.43%;
  margin: 0 0.12%;
  position: relative;
  transform: scale(1);
  transition-property: all;
  transition-delay: 500ms;
  transition-duration: 0.5s;
}

///ALL THUMBNAILS BEFORE HOVERED THUMBNAIL
.movie-slider:hover .movie-item {
    transform: translateX(-24.5%);
    transition-property: all;
    transition-delay: 500ms;
    transition-duration: 0.5s;
}

//All THUMBNAILS TO THE RIGHT
.movie-item:hover ~ .movie-item{
  transform: translateX(24.5%);
  transition-property: all;
  transition-delay: 500ms;
  transition-duration: 0.5s;
}

//HOVERED THUMBNAIL
.movie-item:hover{
  position: relative;
  transform: scale(1.5) !important;
  transition-property: all;
  transition-delay: 500ms;
  transition-duration: 1s;
  z-index: 10;

}




////inside MOVIE ITEM

.movie-item img {
  width: 100%;
}


.movie-item-info {
  // opacity: 0;
  font-size: 12px;
  padding: 0px 10px 10px 0px;
  position: absolute;
  color: black;
  bottom: 0;
  z-index: 12;
}

.movie-item:hover .movie-item-info {
  // opacity: 1;
  transition-property: all;
  transition-delay: 500ms;
  transition-duration: 1s;
}

// .movie-item p {
//   font-size: 12px;
//   padding: 0px 10px 10px 0px;
//   position: absolute;
//   color: black;
//   bottom: 0;
//   z-index: 12;
// }
////////


@media all and (max-width: 1400px) {
  
  .lists-container{
    overflow-x: hidden;
    width: 1400px;
    margin-top: 100px;
  }


  .movie-slider {
    width: 100%;
    // max-width: 100%;
    overflow: visible;
    display: flex;
    padding-left: 3.5%;

  }

  .movie-item {
    transition: none;
    // min-width: 230px;
    // width: 15.65%;
    resize: both;
    min-width: 217px;
    // float: left;

  }

  .movie-item p {
    font-size: 12px;
    padding: 0px 10px 10px 0px;
    position: absolute;
    bottom: 0;
  // z-index: 12;
}

}