.movie-list{
  border: 1px solid white;
  // display: inline-flex;
  // flex-direction: row;
  padding: 0px 20px;
  overflow: hidden visible;
  width: 100%;
  margin: 20px 0px;
  height: 150px;

}

.movie-list::-webkit-scrollbar{
    background-color: red;
  }
.movie-list::-webkit-scrollbar-button{
    background-color: red;
  }

.movie-list::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.movie-thumb{
  width: 260px;
  height: 150px;
  margin: 0px 1px;
  background-color: rgb(44, 166, 248);
  float: left;
}