.browse-nav {
  height: 70px;
  background: transparent;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.browse-logo{
  width: 150px;
  margin-left: 40px;
}

.left-nav{
  display: inline-flex;
  /* flex-direction: column; */
}

.nav-movie-links{
  display: inline-flex;
  margin-left: 20px;
  align-items: center;
}

.nav-movie-links li {
  margin: 10px 15px;
  font-size: 13px;
  font-weight: 200;
  letter-spacing: 1.5px;
  transition: all 500ms ease-in;
}

.nav-movie-links li:hover{
  color: rgb(200, 200, 200);
  cursor: pointer;
} 

