/* line 11, /Users/appacademystudent/Desktop/FullStack_Project/animetflix/app/assets/stylesheets/static_pages.scss */
body {
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: auto;
  width: 100%;
}

/* line 18, /Users/appacademystudent/Desktop/FullStack_Project/animetflix/app/assets/stylesheets/static_pages.scss */
.homepage-background::after {
  background-image: url(/assets/animetflix_home_edited-dbfe07acd595e8f8f930a3e56565c2b3211471c3662f11d0ee828ee93ce3b0df.png);
  background-size: 2500px 1400px;
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  filter: blur(3px);
  margin-left: -20px;
}

/* line 35, /Users/appacademystudent/Desktop/FullStack_Project/animetflix/app/assets/stylesheets/static_pages.scss */
.logo {
  width: 220px;
  height: 45px;
  margin-top: 25px;
}

/* line 45, /Users/appacademystudent/Desktop/FullStack_Project/animetflix/app/assets/stylesheets/static_pages.scss */
header {
  display: flex;
  justify-content: space-between;
  background: transparent;
  position: fixed;
  width: 100%;
  top: 0px;
}

/* line 53, /Users/appacademystudent/Desktop/FullStack_Project/animetflix/app/assets/stylesheets/static_pages.scss */
.auth-header {
  height: 90px;
}

/* line 57, /Users/appacademystudent/Desktop/FullStack_Project/animetflix/app/assets/stylesheets/static_pages.scss */
.logo-container {
  vertical-align: middle;
  height: 100%;
  margin-left: 3%;
}

/* line 63, /Users/appacademystudent/Desktop/FullStack_Project/animetflix/app/assets/stylesheets/static_pages.scss */
.header-button {
  background-color: #2f71ff;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  margin: 30px;
  width: 60px;
  height: 20px;
  padding: 8px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

/* line 78, /Users/appacademystudent/Desktop/FullStack_Project/animetflix/app/assets/stylesheets/static_pages.scss */
.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  position: relative;
  top: 300px;
}

/* line 88, /Users/appacademystudent/Desktop/FullStack_Project/animetflix/app/assets/stylesheets/static_pages.scss */
.welcome {
  text-align: center;
  font-size: 48px;
}

/* line 95, /Users/appacademystudent/Desktop/FullStack_Project/animetflix/app/assets/stylesheets/static_pages.scss */
.homepage button {
  background-color: #2f71ff;
  text-align: center;
  padding: 10px;
  margin: 30px;
}

/* line 105, /Users/appacademystudent/Desktop/FullStack_Project/animetflix/app/assets/stylesheets/static_pages.scss */
.free {
  width: 350px;
  height: 60px;
  padding: 20px;
  font-size: 26px;
  font-weight: 100;
  letter-spacing: 1.5px;
}

/* line 115, /Users/appacademystudent/Desktop/FullStack_Project/animetflix/app/assets/stylesheets/static_pages.scss */
.demo {
  width: 60px;
  height: 20px;
  padding: 5px;
}

/* line 121, /Users/appacademystudent/Desktop/FullStack_Project/animetflix/app/assets/stylesheets/static_pages.scss */
.home-footer {
  height: 236px;
  width: 100%;
  position: absolute;
  top: 94%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 130, /Users/appacademystudent/Desktop/FullStack_Project/animetflix/app/assets/stylesheets/static_pages.scss */
.footer-stuff {
  height: 100%;
  margin: 0 13%;
  padding: 30px 0px;
  color: #777777;
}

/* line 138, /Users/appacademystudent/Desktop/FullStack_Project/animetflix/app/assets/stylesheets/static_pages.scss */
.footer-stuff p, .footer-stuff ul, .footer-stuff a {
  color: dimgray;
  border-top: 0;
  font-size: 16px;
  margin-bottom: 5px;
}

/* line 145, /Users/appacademystudent/Desktop/FullStack_Project/animetflix/app/assets/stylesheets/static_pages.scss */
.footer-stuff ul {
  margin-top: 40px;
}

/* line 149, /Users/appacademystudent/Desktop/FullStack_Project/animetflix/app/assets/stylesheets/static_pages.scss */
.footer-stuff a:hover {
  text-decoration: underline;
}
