@keyframes loading-pulsate {
  0%, 36%, 54%, 90% {
    filter: brightness(0);
  }
 18%, 72% {
    filter: brightness(100%)
  }
}

.loading {
  min-width: 900px;
  max-width: 100%;
  // height: 220px;
  overflow: visible;
  display: flex;
  position: relative;
  z-index: 3;
  padding: 0 3.5%;
  height: 15vh;
  top: 30vh;
}

.loading-back {
  height: 100vh;
  // background-color: rgb(0, 3, 8);
  background-color: black;
  width: 100%;
  position: relative;
  z-index: 1;
}

.loading div {
  min-width: 14.85vw;
  max-width: 14.85vw;
  min-height: 8.4vw;
  margin: 0 0.12%;
  position: relative;
  transform: scale(1);
  filter: brightness(0);
  background-color: rgb(21, 35, 59);
  transition-property: all;
  // transition-delay: 500ms;
  transition-duration: 0.5s;
  animation-name: loading-pulsate;
  animation-iteration-count: infinite;
  // animation-delay: 400ms;
  animation-duration: 3s;
}

.loading div img {
  max-height: 100%;
  width: auto;
}

.loading-squares-1 {
  background-image: image-url("dragon_ball_sil.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  animation-delay: 100ms;
}
.loading-squares-2 {
  background-image: image-url("naruto_sil.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  animation-delay: 200ms;
}
.loading-squares-3 {
  background-image: image-url("sail_moon_sil.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  animation-delay: 300ms;
}
.loading-squares-4 {
  background-image: image-url("titan_sil_bw.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  animation-delay: 400ms;
}
.loading-squares-5 {
  background-image: image-url("one_piece_sil.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  animation-delay: 500ms;
}
.loading-squares-6 {
  background-image: image-url("poke_sil.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  animation-delay: 600ms;
}



