@import "mixins";

.browse-nav {
  height: 70px;
  background: linear-gradient(
    to bottom, 
    black 12%,
    rgba(0, 0, 0, 0.8) 55%, 
    rgba(0, 0, 0, 0.4) 85%, 
    transparent 100%
  );
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 900;
}

.browse-logo{
  width: 150px;
  margin-left: 40px;
}

.left-nav, .right-nav{
  display: inline-flex;
  /* flex-direction: column; */
}

.nav-program-links{
  display: inline-flex;
  margin-left: 20px;
  align-items: center;
}

.nav-program-links li {
  margin: 10px 15px;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 1.5px;
  transition: all 500ms ease-in;
}

.nav-program-links li.link:hover{
  color: rgb(200, 200, 200);
  cursor: pointer;
}

li.current {
  font-weight: 400;
  color: white;
}

.nav-profile-links {
  margin-right: 2vw;
  margin-left: 10px;
  display: inline-flex;
  align-items: center;
}

.nav-profile-links li {
  margin: 10px 15px;
  font-size: 15px;
  font-weight: 300;
  transition: all 500ms ease-in;
}

.nav-profile-links li:hover{
  color: rgb(200, 200, 200);
  cursor: pointer;
} 

.fa-bell{
  font-size: 22px;
}

/* SEARCH BAR FIELD */
.search-field{
  height: 30px;
  margin-top: 16px;
  display: inline-flex;
  align-items: center;
  position: relative;
}

.search-field i {
  font-size: 16px;
  padding: 3px 8px;
}

@keyframes open-input {
  from {
    width: 0
  }
  to {
    width: 265px;
  }
}

@-webkit-keyframes open-input {
  from {
    width: 0
  }
  to {
    width: 265px;
  }
}

@-moz-keyframes open-input {
  from {
    width: 0
  }
  to {
    width: 265px;
  }
}

.search-field input {
  @include animations(open-input, false, .5s);
  width: 265px;
  font-size: 14px;
  padding: 5px 2px;
  font-weight: 300;
  letter-spacing: 0.05em;
  vertical-align: middle;
}

.search-field .fa-times {
  display: none;
}

/* SEARCH FIELD ACTIVE */
.search-field i:active {
  font-size: 22px;
  font-weight: 100;
}

.fa-times.active {
  display: block;
  font-stretch: ultra-expanded;
  font-size: 16px;
  line-height: 14px;
  position: absolute;
  left: 265px;
}

.search-field.active {
  border: 1px solid lightgray;
}
.search-field.active input {
  /* display: block; */
  width: 265px;
  vertical-align: middle;
  /* transition: width 1s ease; */
}

.search-field input.closing {
  width: 0px;
  transition: all .5s ease-out;
}

/* .icon {
  width: 100px;
  height: 100px;
} */

.profile, .profile-thumbnail {
  width: 4vw;
  height: 4vw;
  max-width: 40px;
  max-height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid black;
  position: relative;
}

.profile::after {
  display: block;
  content: "";
  width: 0;
  height: 0;
  background: transparent;
  border-top: 5px solid white;
  border-bottom: 0px solid transparent;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  position: absolute;
  top: 18px;
  left: 45px;
}



.profile-drop-down {
  background-color: rgba(0, 0, 0, 0.8);
  min-width: 150px;
  width: 18vw;
  max-width: 200px;  
  position: absolute;
  z-index: -100;
  right: 7px;
  color: rgba(255, 255, 255, .3);
  font-size: 12px;
  opacity: 0;
  top: 70px;
  box-sizing: border-box;
  transform: translateY(-500px);
  /* transition-delay: 1s; */
  transition: opacity transform 0s ease;
  transition-delay: 0.5s;
  border: 1px solid rgb(80, 80, 80);
 
}

.profile-drop-down.active{
  opacity: 1;
  transition: opacity 0.5s ease;
  transform: translateY(0px);
  top: 70px;
  z-index: 900;
}

aside ul {
  border-top: 1px solid rgb(80, 80, 80);;
}

.profile-drop-down.active ul li:hover {
  text-decoration: underline;
  transition: none;
  color: white;
}


.profile-section{
  width: 100%;
  // margin-bottom: 25px;
  // border-bottom: 1px solid rgb(80, 80, 80);
  padding: 5px 10px 15px;
}

.profile-drop-down ul.profile-list{
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  border-top: 0;}

li.profile-item {
  display: flex;
  align-items: center;
  margin-top: 0px;
}

.profile-link {
  margin-left: 1vw;
  color: rgba(255, 255, 255, .8);

}

.profile-link:hover {
  text-decoration: underline;
}

.manage-profile, .manage-profile a {
  // margin: 5px;
  color: rgba(255, 255, 255, .8);

  font-size: 1.05em;
}

.manage-profile a:hover {
  text-decoration: underline;
}

.profile-drop-down ul {
  padding: 10px;
}

.profile-drop-down li,
.profile-drop-down ul li a {
  margin: 10px 0px;
  font-size: 13px;
  color: rgba(255, 255, 255, .8);

}

.profile-drop-down li:hover{
  color: rgb(200, 200, 200);
  cursor: pointer;
} 
