@import "colors";
@import "mixins";

@keyframes zoom-fade {
    from {
        transform: scale(1.2);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes zoom-fade {
    from {
        transform: scale(1.2);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@-moz-keyframes zoom-fade {
    from {
        transform: scale(1.2);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.profile-page {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

////Modal Background/////
.profile-form-modal {
    width: 100%;
    position: absolute;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

////

.profile-form {
    @include animations(zoom-fade, false, 350ms);
    max-width: 88%;
    background-color: $blackblue;
}

.profile-form .watching{
    width: 100%;
    font-size: 3vw;
    text-align: center;
}

.profile-list {
    margin: 2em 0;
}


.profile-block {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 10vw;
    max-width: 200px;
    min-width: 84px;   
}

.profile-button:hover div.profile-icon {
    border: 0.1em solid $skyishblue;

}
.profile-button:hover .profile-name {
    color: $skyishblue;
}


.profile-block:not(:last-child) {
    margin: 0 2vw 0 0; 
}

.profile-button {
    width: 100%;
    height: 100%;

}

.profile-icon {
    @include background-size-pos(auto, 100%, no-repeat, center);

    height: 10vw;
    width: 10vw;
    max-height: 200px;
    max-width: 200px;
    min-height: 84px;
    min-width: 84px;
    box-sizing: border-box;
    position: relative;
    text-decoration: none;
    border: 0.1em solid rgba(0, 10, 27, 0.4);
    box-sizing: border-box;
}

.profile-icon.add {
    @extend .profile-icon;
    background-image: image-url("add.png");
    background-color: $darkgrayblue;
}

.profile-name{
    color: rgb(87, 87, 87);
    width: 100%;
    display: block;
    text-align: center;
    font-size: 1.3vw;
    margin: .6em 0;
}

.manage {
    width: 50%;
    padding: 2% 2.1%;
    text-align: center;
    font-size: 0.8em;
    background-color: black;
    position: relative;
    left: 25%;
    bottom: 1vw;
    border: 1px solid white;
    opacity: 0.7;
    letter-spacing: 0.2em;   
}

.manage:hover {
    opacity: 1;
}

//////MANAGE
.edit {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0, 0.8);
    opacity: 0.8;
}

.edit span {
    border: 2px solid white;
    border-radius: 100%;
    padding: 1vw;
}

.done {
    opacity: 1;
    width: 50%;
    padding: 2% 2.1%;
    text-align: center;
    font-size: 0.8em;
    background-color: white;
    position: relative;
    left: 25%;
    bottom: 1vw;
    border: 1px solid white;
    color: black;
    opacity: 0.7;
    letter-spacing: 0.2em;
    font-weight: 600;
}

.done:hover {
    background-color: $skyishblue;
    border: 1px solid $skyishblue;
}


///////Form

.profile-fill-out-form {
    @include animations(zoom-fade, false, 350ms);
    max-width: 45vw;
    background-color: #000308;
}

.form-heading {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(85, 85, 85);}

.form-heading h2 {
    font-size: 3.2em;
    width: 100%;
}

.form-heading span {
    opacity: 0.7;
    font-size: 0.8em;
}

.form-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 2% 0;
    border-bottom: 1px solid rgb(85, 85, 85);
    position: relative;
}

.form-container .profile-icon {
    margin-right: 3vw;
    border: 1px solid white;
}



.prof-name-input {
    height: 1.5vw;
    width: 22vw;
    padding: 1.3%;
    font-weight: 300;
    background-color: gray;
    position: relative;;
}

.prof-name-input::placeholder {
    color: rgb(255, 255, 255);
    font-weight: 300;

}

.form-container p.prof {
    display: none;
    font-size: 11px;
    position: absolute;
    left: 12.75vw;
    color: $skyishblue;
    top: 7.75vw;
}

.form-container p.prof.active {
    display: block;
}



.prof-form-buttons {
    width: 100%;
    margin-top: 1vw;
    border-top: 1px solid gray;
    padding: 1vw 0;
}

.prof-form-buttons button {
    width: 17%;
    padding: 1.5% 2.5%;
    text-align: center;
    margin-right: 5%;
    transform: scale(1);
    background-color: black;
    border: 1px solid white;
    font-size: 0.7em;
    letter-spacing: 0.15em;
    opacity: 0.7;
}

button.save-profile, button.add-profile {
    color: black;
    background-color: white;
}

.prof-form-buttons button:hover {
    opacity: 1;
}

button.save-profile:hover, button.add-profile:hover {
    background-color: $skyishblue;
    border: 1px solid $skyishblue;
}