@import "colors";

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.lists-container{
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  position: relative;
  top: -9vh;
  z-index: 20;
  transition: all 300ms ease;

  .false {
    opacity: 0;
  }
  .true {
    opacity: 1;
    transition: all 500ms ease;
  }
}

.program-list-container{
  height: fit-content;
  display: flex;
  border: none;
}


.list-and-detail-container {
  animation-name: fade-in;
  animation-duration: 300ms;
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 300ms;
  -moz-animation-name: fade-in;
  -moz-animation-duration: 300ms;

  &:last-child{
    margin-bottom: 5%;
  }
}

.list-name{
  padding-left: 4.1vw;
  margin-bottom: 0.7%;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 0.05em;
}

.program-slider {
  // margin-left: 3.4vw;
  min-width: 900px;
  max-width: 100%;
  // height: 220px;
  overflow: visible;
  display: flex;
  position: relative;
  z-index: 3;
}

.list-with-buttons {
  height: fit-content;
  display: flex;
  position: relative;
}

///Slide Count

.slide-counter {
  position: absolute;
  height: 3.5%;
  display: flex;
  right: 1%;
  z-index: 1;
  top: -13%;
  opacity: 0;

  .hidden {
    opacity: 0;
  }
}

li.slide-count {
  width: 2vw;
  height: 100%;
  background-color: white;
  margin: 0px 2px;
  opacity: 0.5;

  .current {
    opacity: 1;
    background-color: rgb(79, 176, 255);
  }
}

///BUTTONS

.toggle-list-button {
  opacity: 0;
  min-width: 3.81vw;
  max-width: 3.81vw;
  background-color: rgba(5, 19, 39, 0.5);
  font-size: 50px;
  text-align: center;
  z-index: 12;
  display: flex;
  justify-content: center;

  
}

.list-with-buttons:hover .toggle-list-button, .list-with-buttons:hover .slide-counter:not(.hidden) {
  opacity: 1;
}

.toggle-list-button.right{
  right: 0;
}

.toggle-list-button.left{
  left: 0;
}

img.right-arrow {
    width: 40%;
    filter: brightness(100);
}

img.left-arrow {
    width: 40%;
    filter: brightness(100);
}

.toggle-list-button.right:hover .right-arrow {
  filter: none;
}

.toggle-list-button.left:hover .left-arrow {
  filter: none;
}

///Ensures left is hidden until right is clicked & Right is hidden for short list
.toggle-list-button.left.hidden, .toggle-list-button.right.hidden{
  opacity: 0;
}



//MOVIE ITEM FORMAT AND TRANSITIONS
.program-item {
  max-height: 8.4vw;
  min-width: 16.43%;
  max-width: 16.43%;
  margin: 0 0.12%;
  position: relative;
  transform: scale(1);
  transition-property: all;
  transition-duration: 0.5s;
  display: flex;
  justify-content: center;

}

.program-slider.short #first-in-slide {
  max-height: 8.4vw;
  min-width: 15.25vw;
  max-width: 15.25vw;
}

//TRANSITION FROM FIRST SLIDE
#first-in-slide {
transform-origin: left !important;
}

li#first-in-slide:hover {
  position: relative;
  transform: scale(1.6) !important;
  transform-origin: left !important;
  transition-property: all 1s ease;
  z-index: 10;
}

////

////Transition Last Slide
#last-in-slide {
transform-origin: right !important;
}

li#last-in-slide:hover {
  position: relative;
  transform: scale(1.6) !important;
  transform-origin: right !important;
  transition-property: all 1s ease;
  // transition-delay: 2s0ms;
  z-index: 10;
}

li#last-in-slide:hover ~ li#after-last {
  transform: none;
}

li.program-item.last-hover {
  transform: translateX(-59.6%) !important;
  transition-property: all;
  transition-duration: 0.5s;
}

///ALL THUMBNAILS BEFORE HOVERED THUMBNAIL

.program-slider:hover .program-item {
    transform: translateX(-29.8%);
    transition-property: all;
    transition-duration: 0.5s;
}

.program-slider.short:hover .program-item {
  transform: none;
}

//All THUMBNAILS TO THE RIGHT
.program-item:hover ~ .program-item{
  transform: translateX(29.8%);
  transition-property: all 0.5s ease;
  transition-duration: 0.5s;
}

//HOVERED THUMBNAIL
.program-item:hover{
  position: relative;
  transform: scale(1.6) !important;
  transition-property: all 1s ease;
  z-index: 10;
}


li#first-in-slide:hover ~ li.program-item{
  transform: translateX(9.25vw) !important;
  transition-property: all 0.5s ease;
  transition-duration: 0.5s;
}




////inside MOVIE ITEM

.program-item .background-image {
  transition-property: all;
  transition-duration: .3s;
  width: 100%;
  height: auto;
}

.program-item-thumb-details {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.program-item-info {
  opacity: 0;///
  font-size: 1em;
  height: 100%;
  padding: 0 2%;
  position: absolute;
  color: black;
  bottom: 0;
  z-index: 12;
  width: 100%;
  box-sizing: border-box;
  border: none;
  transition-property: all;
  transition-delay: 200ms;
  transition-duration: .3s;
  display: flex;
  align-items: flex-end;
}

.program-item:hover .background-image {
  transition-property: all;
  // transition-delay: 200ms;
  transition-duration: .3s;
}

.program-item:hover .program-item-info {
  opacity: 1;///
  transition-property: all;
  transition-delay: 0.3s;
  transition-duration: .7s;
}

.program-item-thumb-details a {
    height: 35%;
}

.program-item-info button.play-full {
  height: 100%;
  transform: translateX(-6%);
}

img.item-play {
  height: 100%;
  width: auto;
  filter: brightness(2) saturate(0);
}



.program-item img.item-play:hover {
  filter: brightness(1) saturate(1);
}


.watchlist {
  position: absolute;
  z-index: 14;
  width: 8%;
  height: auto;
  right: 2%;
  bottom: 17%;
  opacity: 0.8;
  transform: scale(1);
  transition: all 100ms ease 100ms
}

.watchlist:hover {
  transform: scale(1.1);
  opacity: 1;
  transition: all 100ms ease 100ms
}

.like-container {
  position: absolute;
  z-index: 14;
  display: flex;
  flex-direction: column;
  right: 2%;
  bottom: 33%;
  width: 8%;
  /* height: 39%; */
  justify-content: space-between;
}

.thumbnail-mute, .thumbnail-volume {
  transform: scale(1);
  transition: all 100ms ease 100ms;
}

.thumbnail-mute:hover, .thumbnail-volume:hover {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 1;
  transition: all 100ms ease 100ms 
}

.like-dislike {
  width: 100%;
  height: auto;
  opacity: 0.8;
  filter: saturate(0);
  transform: scale(1);
  transition: all 100ms ease 100ms;
}

.like-dislike:first-of-type {
  margin-bottom: 2px;
}

.like-dislike:hover {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 1;
  transition: all 100ms ease 100ms
}

.like-dislike.active, .like-dislike.active:first-of-type {
  filter: saturate(1);
  margin: 0;
}

.like-dislike.inactive {
  display: none;
}

.like, .dislike {
  background-color: transparent;
}

// .program-item:hover 
.program-item-info h4 {
  color: white;
  width: 100%;
  font-weight: 500;
  font-size: 0.7vw;
  margin: 0 0 2% 0;
}


.rating-runtime {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: .6vw;
  margin-bottom: 1%;
}

.rating-runtime .rating {
  border: 1px solid white;
  margin-right: 2%;
}

.genres{
  display: flex;
  align-items: center;
  border: none;
  font-size: 0.6vw;
  margin-bottom: 3%;
}

.genres div{
  // list-style-type: disc;
  display: flex;
  align-items: center;
  opacity: .9;
}

.genres li {
  padding: 0;
}


///bullets
.genres span {
  opacity: .8;
  font-size: 1em;
  padding: 0 4px;
}
////


img.down-arrow{
  opacity: 0;
  width: 15%;
  height: 48%;
  filter: saturate(0) brightness(6);
  padding-top: 1%;
}

.down-arrow-container a {
    display: flex;
    justify-content: center;
    height: 90%
}

.program-item:hover img.down-arrow{
  opacity: 1;
  position: static;
}

.down-arrow-container {
  display: flex;
  width: 100%;
  height: 15%;
  position: absolute;
  bottom: 0;
  align-items: center;
  padding: 1% 0;
  justify-content: center;
}

.program-item:hover .down-arrow-container {
  background: linear-gradient(to top, black, transparent);
  transition: background 300ms ease-in;
  z-index: 20;
  
}

.program-item:hover li {
  transition-duration: 1s;
}


/////ARROW TRANSITION TO BLUE
.down-arrow-container:hover img.down-arrow{
  filter: none;
}
////////


