.search-page{
  width: 100%;
  min-height: 100vh;
  margin-top: 125px;
  position: relative;
}

section.search-header {
  display: flex;
  margin: 0 4vw;
  margin-bottom: 3vh;
}

section.search-header.true {
  display: none;
}

.expected-results {
  min-width: 13%;
  padding: 4px 0;
  color: gray;
}

section.search-options {
  display: flex;
  flex-wrap: wrap;
}

.list-buttons {
  border-right: 1px solid white;
  padding: 3px 8px;
  font-size: 1.1em;
}

.list-buttons:hover {
  color: rgb(68, 171, 255);
}

.list-buttons:last-child {
  border: none;
}

.search-list-detail-container {
  margin-bottom: 4.5%;
}
.program-slider.search {
  padding: 0 3.5%;
  overflow: visible;
}


section.search-errors {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20%;
  font-size: 0.75vw;
  color: rgb(153, 153, 153);
}

.search-errors p {
  margin-bottom: 4%;
  color: rgb(153, 153, 153);

}

ul.error-suggestions {
  list-style-type: disc;
  list-style-position: inside;
  
}

ul.error-suggestions li {
    color: rgb(153, 153, 153);

}