// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html{
  height: 10%;
}

body {
  background-color: black;
  font-family: -apple-system, 'Helvetica Neue', sans-serif;
  min-height: 100vh !important;
  height: 100%;
  width: 100%;
}

main.root {
  min-height: 100vh;
}

.homepage-background::after{
  background-image: image-url("animetflix_home_edited.png");
  background-size: 100%;
  background-repeat: no-repeat;
  content: "";
  height: 170vh;
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
  filter: blur(3px);
  margin-left: -20px;
  
}

.logo {
  width: 220px;
  height: 45px;
  margin-top: 25px;
}

header {
  display: flex;
  justify-content: space-between;
  background: transparent;
  position: fixed;
  width: 100%;
  top: 0px;
}

.auth-header {
  height: 90px;
  position: absolute;
  z-index: 3;
}

.logo-container{
  vertical-align: middle;
  height: 100%;
  margin-left: 3%;
}

.header-button{
  background-color: rgb(47, 113, 255);
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  margin: 30px;
  width: 60px;
  height: 20px;
  padding: 8px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}



.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  position: relative;
  top: 300px;

  button{
    background-color: rgb(47, 113, 255);
    text-align: center;
    border-radius: 4px;
    padding: 10px;
    margin: 30px;
  }
}

.welcome {
  text-align: center;
  font-size: 48px;
}


.free {
  width: 350px;
  height: 60px;
  padding: 20px;
  font-size: 26px;
  font-weight: 100;
  letter-spacing: 1.5px;
}

.demo {
  width: 120px;
  height: 30px;
  font-size: 26px;
  font-weight: 500;
  padding: 5px;
}

.home-footer {
  height: 236px;
  width: 100%;
  position: absolute;
  bottom: -70vh;
  background-color: rgba(0, 0, 0, .5);
  transition: all 300ms ease;
}

.browse-footer {
  height: 236px;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: all 300ms ease;
}

.footer-stuff{
  margin: 0 13%;
  padding-top: 30px;
  color: rgb(119, 119, 119);

  p, ul, a {
    color: rgb(105, 105, 105);
    border-top: 0;
    font-size: 16px;
    margin-bottom: 5px; 
  }
  ul {
    margin-top: 40px;
  }
}

.footer-stuff a:hover {
  text-decoration: underline;
}
