@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

video.thumbnail {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: opacity 300ms ease;
}

.movie-item:hover video.thumbnail {
  opacity: 1;
  transition: opacity 300ms ease 500ms;
}

.movie-detail-page video.detail {
  position: absolute;
  right: 0;
  // height: 100%;
  width: 70vw;
  opacity: 1;
  z-index: -4;
  animation-name: fade-in;
  animation-duration: 300ms;

}

.movie-detail-page video.detail::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  z-index: 1;
  background: linear-gradient(to left, transparent 75%, black 86%, black 100%);

}

video.detail.paused {
  filter: brightness(50%);
}

