.fullscreen {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-controls.hidden{
  opacity: 0;
  width: 100%;
  height: 100vh;
  transition: all 3s ease 2s;
  position: absolute;
}

.all-controls {
  opacity: 1;
  width: 100%;
  height: 100vh;
  position: absolute;

}

.browser-link {
  display: flex;
  position: absolute;
  top: 4.5vh;
  left: 3%;
  font-size: 1.5em;
  width: 20vw;
  font-weight: 400;
  z-index: 15;
}

.back-to-last-address .fa-arrow-left {
  font-size: 1.55em;
}

.back-to-last-address {
  display: flex;
  align-items: center;
}

.back-to-last-address span {
  opacity: 0;
  transform: scale(.5);
  margin-left: 1vw;
}

.back-to-last-address:hover .fas.fa-arrow-left {
  transition: all 200ms ease;
  font-size: 1.7em;
}

.browser-link:hover .back-to-last-address span{
  opacity: 1;
  transform: scale(1);
  transition: all 100ms ease 50ms;

}

.video-controls {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 11vh;
  z-index: 15;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // background: linear-gradient(to top, black, transparent);
}

///////PROGRESS BAR
.progress {
  width: 100%;
  padding: 0 1%;
  display: flex;
  justify-content: space-between;
}

.progress-slide-container {
  display: flex;
  width: 95%;
  align-items: center;
}

.video-progress {
  -webkit-appearance: none;
  appearance: none;
  background: rgba(41, 41, 65, 0.8);
  height: 7px;
  width: 100%;
}

span.minutes-left {
  width: 5%;
  text-align: center;
}

.video-progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: rgb(0, 119, 231);
  width: 28px;
  height: 28px;
  border-radius: 100%;
  position: relative;
  z-index: 12;
  cursor: pointer;
}

.video-progress::-moz-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: rgb(28, 51, 255);
  width: 28px;
  height: 28px;
  border-radius: 100%;
  cursor: pointer;
}

.video-progress-meter, .progress-meter {
  height: 5px;
  background-color: rgb(43, 160, 255);
  position: absolute;
  width: 93%;
}


.progress-meter[value]::-webkit-progress-value {
  background-color: rgb(43, 160, 255);
}


.left-controls {
  min-width: 50%;
  max-width: 600px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.left-buttons {
  display: inline-flex;
  justify-content: space-around;
  height: 8vh;
  align-items: center;
  min-width: 50%;
  max-width: 400px;
}

.left-buttons > * {
  margin: 0 25px;
  z-index: 15;

}

////SKIP TIME
.left-controls img {
  width: 5vh;
}

.left-controls img:hover {
  transform: scale(1.3);
  cursor: pointer;
}



//////volume

.volume-with-button {
  display: flex;
  position: relative;
  height: 90px;
  align-items: flex-end;
  z-index: 15;
  transform: translateY(-30px);
}

.volume-with-button img {
  max-width: 45px;
  max-height: 4vh;
  position: relative;
  z-index: 15;
  
}

.volume-with-button img:hover {
  transform: scale(1.1);
}

.volume-slider-container {
  display: none;
  align-items: center;
  padding: 16px 17px;
  border-radius: 5px;
  position: absolute;
  transform: rotate(-90deg);
  left: -250%;
  bottom: 20vh;
  background-color: rgba(0, 0, 0, 0.5);
  transition-delay: 500ms;
  z-index: 15;
}

.volume-with-button:hover .volume-slider-container, .volume-slider-container:hover{
  display: flex;
  z-index: 15;
  cursor: pointer;
}

.v-slider {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  height: 10px;
  width: 180px;
  position: relative;
  z-index: 15;
}

.v-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: rgb(43, 160, 255);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  cursor: pointer;
}

.v-slider::-moz-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: rgb(43, 160, 255);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  cursor: pointer;
}


.volume-color-meter{
    height: 10px;
    background-color: rgb(43, 160, 255);
    position: absolute;
    z-index: 13;

}

.volume-meter-back {
  height: 10px;
  background-color: rgb(56, 56, 56);
  position: absolute;
  z-index: 12;
  width: 180px;
}
////////



.video-controls button {
  font-size: 4vh;
  width: 4vh;
  text-align: center;
}

.video-controls button:hover {
  transform: scale(1.1);
  color: rgb(19, 118, 248);
}

button.pause {
  // width: 3vw;
  letter-spacing: 0.15em;
  font-size: 2.5em;
}


////////

.fullscreen .video-container {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  // background: blue;
}

video.full {
  max-width: 100%;
}


.now-playing {
  margin-left: 10px;
    font-size: 20px;
    font-weight: 500;
}

///////right controls

.right-controls {
  min-width: 25%;
  max-width: 500px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.right-controls button:hover i{
  transform: scale(1.1);
}
